* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Segoe UI", sans-serif;
    background-color: #CCC4BA;
    color: #333;
  }
  
  h1{
    text-align: center;
    font-size: 50px;
    color: black;
    font-style: oblique;
  }
  div{
    height: auto;
  }
  .header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #CCC4BA;
  padding: 10px 0;
}

.logo {
  position: absolute;
  left: 20px;
  height: 50px;
  border-radius: 50%;
}


  
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px, 1fr));
    gap: 30px;
    padding: 40px;
  }
  
  .product-card {
    background-color: #F5EFE6;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  }
  
  .product-image {
  width: 300px;       /* set the desired width */
  height: 250px;      /* set the desired height */
  object-fit: cover;  /* ensures the image fills the space without distortion */
  border-radius: 12px; /* optional for rounded corners */
}
  
  
  
  .product-card h2 {
    margin: 15px 0 5px;
  }
  
  .product-card p {
    color: black;
    font-size: 1.1em;
  }

  button {
    background-color: #222;
    color: #fff;
    border: none;
    padding: 10px 16px;
    margin-top: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    transition-property: inherit;
  }
  
  button:hover {
    background-color: #555;
  }


.footer{
    display: flex;
    color: white;
    background-color: rgb(31, 31, 31);
    margin-top: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.fh{
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: bold;
}
.f1{
    margin-left: 30px;
}
#f1t{
    font-size: 15px;
}
.f2{
    margin-left: 110px;
}
.fta{
    text-decoration: none;
    color: white;
}
.f3{
    margin-left: 110px;
}
.f4{
    margin-left: 110px;
}
#mail{
    border: 0px;
    background-color:  rgb(31, 31, 31);
    width: 200px;
}
#f4u{
    margin-left: 0px;
    margin-top: 2px;
    margin-right: 122px;
}

  